#radar_maps_container {
	position: fixed;
	top: 10px;
	left: 10px;
	border: none;
	transition: all 1s;
	.map-container {
		transition: all 1s;
	}
}
#iframe_radar {
	border: none;
}
#radar_maps_container.hide {
	opacity: 0;
}
#radar_maps_container.preview {
    transform: rotate3d(1, 0, 0, 14deg) translateX(-50%);
    transform-style: preserve-3d;
    left: 50%;
    top: 100px;
	.map {
		perspective: 500px;
	}
}
#maps_container {
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: white;
	background-color: var(--sub-panel-color);

	.bestof {
		width: 121px;
		font-size: 16px;
		font-weight: 700;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
	}
}
.veto_entry {
	display: flex;
	justify-content: center;
	>div {
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		text-transform: uppercase;
		font-size: 10pt;
	}
	.team_logo {
		img {
			max-height: 23px;
			padding-right: 3px;
			max-width: 23px;
		}
		.logo {
			height: 23px;
			width: 23px;
		}
	}
	.map_name {
		font-size:12px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		opacity: 0.5;

		&.active {
			opacity: 1;
		}
	}
}
